@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

:root{
    --primary-color:#55b4b8;
    --primary-color-dark: #f7ebf3;
    --text-dark: #1e293b;
    --text-light: #64748b;
    --extra-light: #fafafa;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* MENU HAMBURGER */



/* FIN MENÚ HAMBURGER */


.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    color: var(--text-dark);
}

.btn{
    color: rgb(65, 145, 161);
    border-radius: 10px;
    height: 20px;
}

.btn:hover{
    background-color: white;
}

.btn a:hover{
    background-color: white;
}

.btn a:hover{
    color: #84ddb3;
}

/* NAVBAR RESPONSIVE */



/* FIN NAVBAR RESPONSIVE */


.home{
    display: flex;
}

.whatsapp {
    position: fixed;
    display: block;
    width:80px;
    height:80px;
    bottom:50px;
    right:40px;
    color:#FFF;
    border-radius:40px;
    text-align:center;
    font-size:40px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
    margin-right: 20px;
  }
  
  .whatsapp-icon {
    display: flex;
    font-size: 30px;
    color: #25d366;
  
  }





.section_subheader {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    color: var(--text-light);
    letter-spacing: 2px;
}

.index-btn {
    padding: .8rem 1.5rem;
    margin-bottom: 5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5rem;
    cursor: pointer;
    align-items: center;
    text-align: center;
}



img{
   width: 100%; 
   display: flex;
}

a {
    text-decoration: none;
}

html,
body {
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
}

nav{ 
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}



.btn {
    display: none;
    align-items: center;
    margin-top: 40px;
    display: flex;
    
}

.masaje-button-yoga{
    padding: 1rem 1.5rem;
    display: none;
    align-items: center;
    margin-top: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--white);
    height: 10px;
}

.masaje-button-yoga .btn{
    background-color: #f5b247;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    margin-bottom: 20px;
    color: var(--white);
}

.masaje-button-masaje{
    padding: 1rem 1.5rem;
    display: none;
    align-items: center;
    margin-top: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--white);
    height: 10px;
}

.masaje-button-masaje .btn{
    background-color: #f5b247;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    margin-bottom: 200px;
    color: var(--white);
}

 

.nav_logo img {
    max-width: 40px;
    border-radius: 15px;
}

.nav_logo span {
    font-size: 1.25rem;
    color: var(--text-dark);
}

.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}


.link a {
    padding: 5px;
    color: var(--text-light);
}

.link a:hover {
    color: var(--primary-color);
}
/* NAVBAR */



/*END NAVBAR */


header {
    position: relative;
}

header::before {
    position: absolute;
    content: "";
    left: -25%;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, var(--primary-color), transparent);
    opacity: 0.2;
}

.header_container{
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.header_content{
    z-index: 1;
}

.header_content h1{
    margin-bottom: 1rem;
    font-size: 2.8rem;
    font-weight: 300;
    color: var(--text-dark);
}

.header_content h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-light);
}

.header_image { 
    z-index: -1;
}

.header_image img {
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
}

.header_content p{
    margin-bottom: 1rem;
    margin-left: 1rem;
    line-height: 1.5rem;
    color: var(--text-light);
}

.line p{
    margin-top: 6rem;
    line-height: 1.5rem;
}



.why_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.why_container .fa-whatsapp{
    color: #25d366;
    position: fixed;
}

.why_image img {
    max-width: 550px;
    margin: auto;
    border-radius: 10px;
}

.why_content .section_header{
    margin-bottom: 1rem;
    text-align: left;
}

.why_content p{
    margin-bottom: 2rem;
    margin-left: 1rem;
    line-height: 1.5rem;
    color: var(--text-light);
}

.why_content h2{
    /* margin-left: 4rem; */
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why_content_aboutme{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.why_content_aboutme h2{
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    align-items: center;
}

.why_content_aboutme p .cursive{
    font-family: cursive;
}
.cursive{
    
    font-style: oblique;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 1px;
    background: #3b3737;
    margin-bottom: 30px;
}

.why_img_about {
    height: 400px;
    width: 400px;
}

.why_img_about img{
    max-width: 400px;
    display: auto;
}


.why_content ul{
    list-style: none;
}

.why_content li{
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.why_content_terapias{
    display: inline-block;
    align-items: center;
}
.why_content_terapias h2{
    display: flex;
    text-align: center;
}

.why_content_terapias img{
    height: 75%;
    width: 75%;
    object-fit: cover;
    border-radius: 20px;
}

.why_content_terapias li{
    align-items: flex-end;
    display: inline-flex;
    margin-top: 20px;
}

.hero {
    background-color: var(--extra-light);
}

.hero_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.hero_card span{
    margin-bottom: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    aspect-ratio: 1;
    background-color: var(--primary-color-dark);
    border-radius: 100%;
}

.hero_card span img{
    max-width: 40px;
}

.hero_card h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
}

.hero_card p {
    line-height: 1.5rem;
    color: var(--text-light);
}

/* SPLIDE */
.wrapper{
    position: relative;
    align-items: center;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper h2{
    padding: 0;
    margin: 0;
    color: var(--text-light);
    font-weight: 600;
    font-size: 20px;
}

.wrapper p{
    color: var(--primary-color);
    font-size: 18px;
    margin: 0;
    line-height: 35px;
}

.wrapper a{
    background: crimson;
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 30px;
}
.wrapper span:before{
    content: "";
    font-size: 20px;
    color: var(--primary-color);
    animation: animate infinite 8s;
}

@keyframes animate{
    10%{
        content: "Hatha";
    }
    20%{
        content: "Yin";
    }
    40%{
        content: "Iyengar";
    }
    60%{
        content: "Nidra";
    }
    80%{
        content: "Facial";
    }
}







/* END OFSPLIDE */

.conteiner{
    position: relative;
    min-height: 60vh;
    background: #ddd;
    margin-top: .8rem;
    
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.conteiner h1{
    font-size: 30px;
    font-weight: 500;
    padding: 15px;
    color: var(--extra-light);
    text-align: center;
    text-transform: capitalize;
}

.conteiner .image_conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.conteiner .image_conteiner .image{
    height: 250px;
    width: 350px;
    border: 2px solid #fff;
    box-shadow: 0 5px 15px rgba (0, 0, 0,.1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}


.conteiner .image_conteiner .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.conteiner .image_conteiner .animate-box{
    height: 250px;
    width: 350px;
    border: 5px solid #fff;
    box-shadow: 0 5px 15px rgba (0, 0, 0,.1);
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 10px;
}

.conteiner .image_conteiner .animate-box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.conteiner .image_conteiner .image:hover img{
    transform: scale(1.1);
}


.conteiner .popup_image{
    position: fixed;
    top: 0; left: 0;
    background: rgba (0, 0, 0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.conteiner .popup_image span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #64748b;
    cursor: pointer;
    z-index: 100;
}

.conteiner .popup_image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}




/*
.classes_grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.classes_image {
    position: relative;
    overflow: hidden;
}

.classes_content {
    position: absolute;
    left: 0;
    bottom: -100%;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    background-image: linear-gradient(to top, var(--primary-color), transparent);
    transition: 0.5s;
}

.classes_image:hover .classes_content {
    bottom: 0;
}*/

.membership {
    background-color: var(--extra-light);
}

.membership_grid {
    margin-top: 4rem;
    display: inline;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.membership_card{
    padding: 2rem;
    margin: auto;
    margin-top: 15px;
    max-width: 80%;
    text-align: center;
    background-color: var(--white);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.membership_card h4{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--text-dark);
}

.membership_card a{
    text-align: center;
    position: center;
}
a.btn.membership_btn{
    position: center;
}

.membership_card .hours{
    color: var(--primary-color);
}

.membership_card h2{
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--primary-color);
}

.membership_card h2 sup {
    font-size: 1.5rem;
}

.membership_card h3{
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
}

.membership_card p{
    margin-bottom: 1.5rem;
    color: var(--text-light);
}

.membership_btn{
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: .8rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5rem;
    cursor: pointer;
}



.stories_grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 2rem;
}

.stories_card{
    padding: 1rem;
}

.stories_content{
    position: relative;
    isolation: isolate;
    margin-bottom: 2rem;
    display: inline;
    align-items: center;
    gap: 1rem;
}



.stories_content span{
    padding: 7px 10px;
    font-size: 1rem;
    color: var(--white);
    /* background-color: var(--primary-color); */
    border-radius: 100%;
}

.stories_content::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    top: 0;
    left: 24px;
    background-color: var(--text-light);
    opacity: 0.1;
    z-index: -1;
}

.stories_content p{
    line-height: 1.5rem;
    color: var(--text-light);
    display: inline;
}


/* BOTÓN LEER MÁS */



/* FIN BOTÓN LEER MÁS */

.stories_author{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.stories_author img{
    max-width: 100px;
    border-radius: 100%;
}

.stories_author_details h4{
    line-height: 1.5rem;
    display: inline;
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-dark);
}

.stories_author_details h6{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
}









/*STORIES END*/

/*.banner{
    padding: 5rem 0;
    background-image: linear-gradient(to right, var(--primary-color), transparent), url(images/46-banner.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner_container{
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    text-align: center;
}

.banner_card h4 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 500;
    color: var(--white);
}

.banner_card p {
    color: var(--white);
}*/

.posts {
    background-color: var(--extra-light);
}

.posts_grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.posts_card{
    background-color: var(--white);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
}


.posts_content{
    padding: 2rem;
}

.posts_date{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.posts_date span{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--primary-color);
}

.posts_date div{
    color: var(--text-light);
}

.posts_content h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
}

.posts_content p{
    line-height: 1.5rem;
    color: var(--text-light);
}

.photos_grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.footer{
    background-color: var(--primary-color);
}

.footer_container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
}

.footer_logo a{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);
}

.footer_col p{
    font-size: 1.25rem;
    color: var(--white);
    text-align: center;
}

.footer_socials{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.footer_socials a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    aspect-ratio: 1;
    font-size: 1.5rem;
    color: var(--white);
    background-color: #f7ebf330;
    border-radius: 100%;
}



.footer_bar{
    font-size: 0.9rem;
    color: var(--white);
    text-align: center;
}

@media (width < 900px) {
    .nav_links {
      gap: 1rem;
    }
    
  
    header::before {
      left: 0;
    }
  
    .header_container {
      grid-template-columns: repeat(1, 1fr);
    }

    
  
    .header_image {
      grid-area: 1/1/2/2;
    }
  
    .header_content {
      padding: 5rem 0;
      text-align: center;
    }
  
    .why_container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .why_content :is(.section_header, p) {
      text-align: center;
    }
  
    .hero_container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .membership_grid {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 4rem;
      column-gap: 1rem;
    }
  
    .stories_grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  
    .banner_container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .posts_grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    
   
    .photos_grid {
      gap: 1rem;
    }
  
    .footer_container {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .footer_socials {
      justify-content: center;
    }
    
  }
  
  @media (width < 750px) {

    .checkbtn{
        display: block;
    }
   
    .link a{
        color: #0b5457;
        cursor: pointer;
        position: relative;
    }
    
    .nav_links {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: white;
        display: inline-block;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        line-height: 40px;
    }
    .nav_links a{
        position: relative;
    }

    
    /* .nav_links ul { 
        display: block;
        margin: 5px 0;
        line-height: 30px;
    }*/
   
    #check:checked ~ .nav_links {
        left: 0;
    }

    .nav_logo{
        gap: 0.5rem;
    }
    
    
  /*
    .classes__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  */


    .photos_grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .posts_grid{
        grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media (width < 600px) {
    /*.nav_links {
      display: none;
    }*/
    
    

    .nav_logo{
        gap: 6rem;
        display: flex;
    }

    .nav_logo span{
        font-size: 15px;
    }
  
    .hero_container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .membership_grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .stories_grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .posts_grid {
      grid-template-columns: repeat(1, 1fr);
    }
    
    
    
  }

  @media (max-width:768px){
    .conteiner .popup_image img{
        width: 90%;
    }
  }

  @media (max-width:768px){
    .box{
        width: 85%;
    }
  }

  @media (max-width:768px){
    .container{
        display: contents;
    }

    


  }

  /*BLOG NUEVO*/

.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 20px;
  }

.container .heading{
    font-size: 40px;
    margin-bottom: 20px;
    color: #ddd;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.container .box-container .box{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.2);
    display: none;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3){
    display: inline-block;
}


.container .box-container .image{
    margin-bottom: 20px;
    overflow: hidden;
    height: 250px;
    border-radius: 5px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.2);
}

.container .box-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container .box-container .box:hover .image img{
    transform: scale(1.1);
}

.container .box-container .box .content h3{
    font-size: 20px;
    color: #64748b;
}

.container .box-container .box .content p{
    font-size: 15px;
    color: #777;
    line-height: 2;
    padding: 15px 0;
}

.container .box-container .box .content .btn{
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #334;
    color: #334;
    font-size: 16px;
}

.container .box-container .box .content .btn:hover{
    background-color: #64748b;
    border-color: #55b4b8;
    color: #fff;
} 

.container .box-container .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid#334;
}

.container .box-container .box .content .icons span{
    font-size: 14px;
    color: #777;
}

.container .box-container .box .content .icons span i{
    color: #55b4b8;
    padding-right: 5px;
}





.nav_links .masage_link{
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
}

/* .masage_link:hover{ 
    background-color: #e19c30;
}*/

@media (max-width:450px){


    .container .heading{
        font-size: 25px;
        
    }

    .nav_logo span{
        text-align: center;
        justify-content: center;
    }

    /* .masage_link{ 
        display: block;
        position: fixed;
    }*/

    .container .box-container{
        grid-template-columns: 1fr;
    }


    .container .box-container .box .image{
        height: 200px;
    }

    .container .box-container .box .content p{
        font-size: 12px;
    }

    .container .box-container .box .content .icons span{
        font-size: 12px;
    }

    .cont-menu{
        background-color: #777;
        box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
        width: 400px;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 2s ease;
        opacity: 100%;
    }

    .icono-menu img{
        position: fixed;
    }

    .why_img_about img{
        height: 100px;
        grid-area: 1/1/2/2;
    }

    

    .menu-button{
        display: block;
        position: absolute;
    }

    .masage_link{
        display: none;
        color: #55b4b8;
    }


    .readmore_btn{
        /* grid-template-columns: unset; */
        align-items: center;
    }

   

    .stories_content p{
        grid-template-columns: unset;
        display: inline-block;
        
    }

    .why_content_aboutme{
        grid-template-columns: 1, 1fr;
    }
}
    


/*WRAPPER*/

/*FORMULARIO CONTACTO*/











.btn:hover{
    background-color: var(--primary-color);
}

@media screen and (max-width:880px) {
    .contact-box{
        grid-template-columns: 1fr;
    }

    .left{
        height: 200px;
    }
    
}


/* EMPIEZA BLOG3 */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.kontainer{
    width: 100%;
}

.kontainer .row{
    width: 80%;
    margin: auto;
}

.kontainer .row .blogheader{
    width: 60%;
    text-align: center;
    margin: auto;
}

.kontainer .row .blogheader h1{
    padding-top: 30px;
    font-size: 45px;
    color: #e19c30;
    color: #6e6e6e;
}

.kontainer .row .blogheader p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content .card{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.content .card img{
    width: 100%;
    height: auto;
}

.content .card h4{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.content .card p{
    font-size: 15px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
}

#more{
    display: none;
}

@media screen and (max-width: 768px) {
    .content{
        flex-direction: column;
    }
}

/* PRINCIPIO hamburguesa */






    






/* FIN HAMBURGUESA */
@media screen and (max-width:768px) {
    .blog-container .card {
        flex-direction: column;
        display: inline;
    }

    
    
   
}


/* FIN BLOG3 */



  